<div class="container-fluid center">

  <h1><%= @bucket.title %></h1>

<% if @lists.any? %>
  <div class="row">
    <% @lists.each do |list| %>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <%= link_to (image_tag list.image.url(:medium)) %> <span class="card-title"><%= list.title %></span>
        </div>
        <div class="card-content">
          <p><%= list.description %></p>
        </div>
        <div class="card-action">
          <%= link_to 'More Info', bucket_list_path(id: list) %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<% else %>
  <h3 class='center'>No Bucket list has been added!</h3>
<% end %>

<hr />
<%= link_to "Back to bucket", bucket_path(@bucket), class:'btn orange' %>
<% if @bucket.user_id == current_user.id %> 
  <%= link_to "Add to List", new_bucket_list_path(@bucket, @list), class:'btn green' %>
<% end %>

<%= will_paginate @lists, class:'paginate' %>

</div>