<div class='row center'>
  <div class='container form-group'>
    <%= form_for @bucket,  html: { multipart: true } do |f| %>

    <div class='input-field'>
      <%= f.label :title%>
      <%= f.text_field :title %>
    </div>

    <div class='input-field'>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <div class='input-field'>
      <%= f.label :completed? %>
      <%= f.select :completed, [true, false], {}, class:"browser-default" %>
    </div>

    <div class='input-field'>
    	<%= f.label :image %>
      <br /><br />
    	<%= f.file_field :image %>
    </div>

    <div class='input-field'>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.submit :class => 'btn blue' %>
    </div>

    <%end%>
  </div>
</div>
