<!DOCTYPE html>
<html>
<head>
  <title>BucketList</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render(partial: 'layouts/navbar') %>

<% if flash.any? %>
	<% flash.each do |key, value| %>
		<div class="flash <%= key %>">
			<%= value %>
		</div>
	<% end %>
<% end %>

<%= yield %>

<%= render(partial: 'layouts/footer') %>

</body>
</html>
